<a href="https://colab.research.google.com/github/rajarajeswarigunturu/Assignment1/blob/main/practice5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10

In [ ]:
a<15

True

In [ ]:
if a<15:
  print("raji")

raji

In [ ]:
a<15

True

In [ ]:
print("")

In [ ]:
print(" ")

In [ ]:
print(" "" " )

In [ ]:
if a<15:
  pass

In [ ]:
if 24<15:
  print("mass")

In [ ]:
24<15

False

In [ ]:
if 24>15:
  print("pinky")

pinky

In [ ]:
if 5>3:
  print("5 is greater")
else:
  print("3 is greater")

5 is greater

In [ ]:
income=100
if income < 50:
  print("buy a phone")
elif income < 60:
  print("chocolate")
elif income < 70:
  print("cake")
else:
  print("monkey")

monkey

In [ ]:
a= "income"
b = "cycle"
c = "bike"
d= "car"
e="plane"

a=int(input())
if a<100:
  print(b)
elif a<150:
  print(c)
elif a<200:
  print(d)
elif a<250:
  print(e)
else:
  print("nothing to buy")

125
bike

In [ ]:
a= "income"
b = "cycle"
c = "bike"
d= "car"
e="plane"

a=int(input())
if a<100:
  print(b)
elif a<150:
  print(c)
elif a<200:
  print(d)
elif a<250:
  print(e)
else:
  print("nothing to buy")

200
plane

In [ ]:
income= int(input())
if income > 50000:
  print("i will buy an iphone")
elif income > 40000:
  print("i will buy a vivo phone")
elif income > 30000:
  print("i will buy a redmi phone")
elif income > 20000:
  print("i will buy a oppo phone")
else:
  print("nothing to buy")

45000
i will buy a vivo phone

In [ ]:
income= int(input())
if income > 50000:
  print("i will buy an iphone")
elif income > 40000:
  print("i will buy a vivo phone")
elif income > 30000:
  print("i will buy a redmi phone")
elif income > 20000:
  print("i will buy a oppo phone")
else:
  print("nothing to buy")

25000
i will buy a oppo phone

In [ ]:
income= int(input())
if income > 50000:
  print("i will buy an iphone")
elif income > 40000:
  print("i will buy a vivo phone")
elif income > 30000:
  print("i will buy a redmi phone")
elif income > 20000:
  print("i will buy a oppo phone")
else:
  print("nothing to buy")

35000
i will buy a redmi phone

In [ ]:
income= int(input())
if income > 50000:
  print("i will buy an iphone")
elif income > 40000:
  print("i will buy a vivo phone")
elif income > 30000:
  print("i will buy a redmi phone")
elif income > 20000:
  print("i will buy a oppo phone")
else:
  print("nothing to buy")

55000
i will buy an iphone

In [ ]:
total_price=int(input("course amount is:"))
if total_price < 10000:
  discount=total_price*0.05
  print(discount)
  amount_to_be_paid=total_price-discount
  print("amount to be paid after discount is:", amount_to_be_paid)
elif total_price < 20000:
  discount=total_price*0.06
  print(discount)
  amount_to_be_paid=total_price-discount
  print("amount to be paid after discount is:", amount_to_be_paid)
elif total_price < 30000:
  discount=total_price*0.08
  print(discount)
  amount_to_be_paid=total_price-discount
  print("amount to be paid after discount is:", amount_to_be_paid)
else:
  print("no discounts for remaining amounts")

course amount is:12000
720.0
amount to be paid after discount is: 11280.0

In [ ]:
total_price=int(input("course amount is:"))
if total_price < 10000:
  discount=total_price*0.05
  print(discount)
  amount_to_be_paid=total_price-discount
  print("amount to be paid after discount is:", amount_to_be_paid)
elif total_price < 20000:
  discount=total_price*0.06
  print(discount)
  amount_to_be_paid=total_price-discount
  print("amount to be paid after discount is:", amount_to_be_paid)
elif total_price < 30000:
  discount=total_price*0.08
  print(discount)
  amount_to_be_paid=total_price-discount
  print("amount to be paid after discount is:", amount_to_be_paid)
else:
  print("no discounts for remaining amounts")

course amount is:5000
250.0
amount to be paid after discount is: 4750.0

In [ ]:
total_price=int(input("course amount is:"))
if total_price < 10000:
  discount=total_price*0.05
  print(discount)
  amount_to_be_paid=total_price-discount
  print("amount to be paid after discount is:", amount_to_be_paid)
elif total_price < 20000:
  discount=total_price*0.06
  print(discount)
  amount_to_be_paid=total_price-discount
  print("amount to be paid after discount is:", amount_to_be_paid)
elif total_price < 30000:
  discount=total_price*0.08
  print(discount)
  amount_to_be_paid=total_price-discount
  print("amount to be paid after discount is:", amount_to_be_paid)
else:
  print("no discounts for remaining amounts")

course amount is:25000
2000.0
amount to be paid after discount is: 23000.0

In [ ]:
coup_code="raji"
if coup_code=="raji":
  print("you will be able to get 5% discount on your course")
  amount=7000-7000*0.05
  print("after discount you have to pay the amount:", amount)
else:
  print("no discount available")

you will be able to get 5% discount on your course
after discount you have to pay the amount: 6650.0

In [ ]:
study_hour=float(input())
if study_hour < 1:
  print("it will take 9 months to finish the course")
elif study_hour < 2 and study_hour > 1:
  print("it will take 8 months to finish the course")
else:
  print("it takes 12 months to finish the course")

1.5
it will take 8 months to finish the course

In [ ]:
study_hour=float(input())
if study_hour < 1:
  print("it will take 9 months to finish the course")
elif study_hour < 2 and study_hour > 1:
  print("it will take 8 months to finish the course")
else:
  print("it takes 12 months to finish the course")

0.9
it will take 9 months to finish the course

In [ ]:
study_hour=float(input())
if study_hour < 1:
  print("it will take 9 months to finish the course")
elif study_hour < 2 and study_hour > 1:
  print("it will take 8 months to finish the course")
else:
  print("it takes 12 months to finish the course")

3
it takes 12 months to finish the course

In [ ]:
a=9
if a==9:
  print("valid")

valid

In [ ]:
a=input("college name:")
b=input("branch name:")
c=input("branch type:")

if a=="pnc college":
  if b=="medicine":
    if c=="cardio":
      print("cardiology")
    elif c=="neuro":
      print("neurology")
    elif c=="general":
      print("alldepts")
    else:
      print("nothing")
  elif b=="msc":
    if c=="biotech":
      print("biotechnology")
    elif c=="biochem":
      print("biochemistry")
    elif c=="bioinfo":
      print("bioinformatics")
    else:
      print("no vacancies")
  else:
    print("no more vacancies in our college")
else:
  print("housefull")

college name:pnc college
branch name:msc
branch type:biotech
biotechnology

In [ ]:
a=input("first generation name:")
b=input("second generation name:")
c=input("third generation name:")
if a=="venkayamma":
  print("daughters- peddammai,chittemma,ramadevi,koti,dhanam,jayamma")
  if b=="peddammai":
    print("yashoda,parvathi,anuradha")
    if c=="yashoda":
      print("jayasri,chanti")
    elif c=="parvathi":
      print("prasad,kumar")
    elif c=="anuradha":
      print("ramya,bhuvana")
    else:
      print("not her children")
  elif b=="chittemma":
    print("padma,parvathi,siva")
    if c=="padma":
      print("pavan,manikanta")
    elif c=="parvathi":
      print("jagadish,lavanya")
    elif c=="siva":
      print("mahathi,nithya")
    else:
      print("not her children")
  elif b=="ramadevi":
    print("ramu,prameela,subbarao,srinu")
    if c=="ramu":
      print("srujana")
    elif c=="subbarao":
      print("smruthi,aditya")
    elif c=="srinu":
      print("guru,sushma")
    elif c=="prameela":
      print("pandu,avinash")
    else:
      print("not her children")
  elif b=="koti":
    print("peddabujji,chinnabujji")
    if c=="peddabujji":
      print("ammai")
    elif c=="chinnabujji":
      print("sai,chanikya")
    else:
      print("not her children")
  elif b=="dhanam":
    print("prabhakar.venkateswarlu")
    if c=="prabhakar":
      print("peddasony,chinnasony")
    elif c=="venkateswarlu":
      print("sivamani,chinnu")
    else:
      print("not her children")
  elif b=="jayamma":
    print("sridevi,parvathi,prasad")
    if c=="sridevi":
      print("teja,mohith")
    elif c=="parvthi":
      print("lucky,honey")
    elif c=="prasad":
      print("tony,lochu")
  else:
    print("not her children")
else:
  print("not her children")

first generation name:venkayamma
second generation name:peddammai
third generation name:yashoda
daughters- peddammai,chittemma,ramadevi,koti,dhanam,jayamma
yashoda,parvathi,anuradha
jayasri,chanti

In [ ]:
a=input("first generation name:")
b=input("second generation name:")
c=input("third generation name:")
if a=="venkayamma":
  print("daughters- peddammai,chittemma,ramadevi,koti,dhanam,jayamma")
  if b=="peddammai":
    print("yashoda,parvathi,anuradha")
    if c=="yashoda":
      print("jayasri,chanti")
    elif c=="parvathi":
      print("prasad,kumar")
    elif c=="anuradha":
      print("ramya,bhuvana")
    else:
      print("not her children")
  elif b=="chittemma":
    print("padma,parvathi,siva")
    if c=="padma":
      print("pavan,manikanta")
    elif c=="parvathi":
      print("jagadish,lavanya")
    elif c=="siva":
      print("mahathi,nithya")
    else:
      print("not her children")
  elif b=="ramadevi":
    print("ramu,prameela,subbarao,srinu")
    if c=="ramu":
      print("srujana")
    elif c=="subbarao":
      print("smruthi,aditya")
    elif c=="srinu":
      print("guru,sushma")
    elif c=="prameela":
      print("pandu,avinash")
    else:
      print("not her children")
  elif b=="koti":
    print("peddabujji,chinnabujji")
    if c=="peddabujji":
      print("ammai")
    elif c=="chinnabujji":
      print("sai,chanikya")
    else:
      print("not her children")
  elif b=="dhanam":
    print("prabhakar.venkateswarlu")
    if c=="prabhakar":
      print("peddasony,chinnasony")
    elif c=="venkateswarlu":
      print("sivamani,chinnu")
    else:
      print("not her children")
  elif b=="jayamma":
    print("sridevi,parvathi,prasad")
    if c=="sridevi":
      print("teja,mohith")
    elif c=="parvathi":
      print("lucky,honey")
    elif c=="prasad":
      print("tony,lochu")
  else:
    print("not her children")
else:
  print("not her children")

first generation name:venkayamma
second generation name:subbamma
third generation name:bodamma
daughters- peddammai,chittemma,ramadevi,koti,dhanam,jayamma
not her children

In [ ]:
a=input("first generation name:")
if a=="ramanamma":
  print("ramakanth  rambabu  ramadevi")

b=input("second generation name:")
c=input("third generation name:")

if b=="ramakanth":
  print("dattu  ramya")
  if c=="dattu":
    print("wife-hema,baby-kinnu")
  elif c=="ramya":
    print("hubby-anand, children-pandu and himmu")
  else:
    print("not his children")
elif b=="rambabu":
  print("tinku")
  if c=="tinku":
    print("hubby-saahu")
  else:
    print("not his children")
elif b=="ramadevi":
  print("raji  manasa")
  if c=="raji":
    print("hubby-pavan, children-sanvi and seivi")
  elif c=="manasa":
    print("no more")
  else:
    print("not her children")
else:
  print("not her children")

first generation name:ramanamma
ramakanth  rambabu  ramadevi
second generation name:ramadevi
third generation name:manasa
raji  manasa
no more

In [ ]:
a=input("first generation name:")
if a=="ramanamma":
  print("ramakanth  rambabu  ramadevi")

b=input("second generation name:")
c=input("third generation name:")

if b=="ramakanth":
  print("dattu  ramya")
  if c=="dattu":
    print("wife-hema,baby-kinnu")
  elif c=="ramya":
    print("hubby-anand, children-pandu and himmu")
  else:
    print("not his children")
elif b=="rambabu":
  print("tinku")
  if c=="tinku":
    print("hubby-saahu")
  else:
    print("not his children")
elif b=="ramadevi":
  print("raji  manasa")
  if c=="raji":
    print("hubby-pavan, children-sanvi and seivi")
  elif c=="manasa":
    print("no more")
  else:
    print("not her children")
else:
  print("not her children")

first generation name:ramanamma
ramakanth  rambabu  ramadevi
second generation name:ramadevi
third generation name:raji
raji  manasa
hubby-pavan, children-sanvi and seivi

In [ ]:
a=input("first generation name:")
b=input("second generation name:")
c=input("third generation name:")
if a=="venkayamma":
  print("daughters- peddammai,chittemma,ramadevi,koti,dhanam,jayamma")
  if b=="peddammai":
    print("yashoda,parvathi,anuradha")
    if c=="yashoda":
      print("jayasri,chanti")
    elif c=="parvathi":
      print("prasad,kumar")
    elif c=="anuradha":
      print("ramya,bhuvana")
    else:
      print("not her children")
  elif b=="chittemma":
    print("padma,parvathi,siva")
    if c=="padma":
      print("pavan,manikanta")
    elif c=="parvathi":
      print("jagadish,lavanya")
    elif c=="siva":
      print("mahathi,nithya")
    else:
      print("not her children")
  elif b=="ramadevi":
    print("ramu,prameela,subbarao,srinu")
    if c=="ramu":
      print("srujana")
    elif c=="subbarao":
      print("smruthi,aditya")
    elif c=="srinu":
      print("guru,sushma")
    elif c=="prameela":
      print("pandu,avinash")
    else:
      print("not her children")
  elif b=="koti":
    print("peddabujji,chinnabujji")
    if c=="peddabujji":
      print("ammai")
    elif c=="chinnabujji":
      print("sai,chanikya")
    else:
      print("not her children")
  elif b=="dhanam":
    print("prabhakar.venkateswarlu")
    if c=="prabhakar":
      print("peddasony,chinnasony")
    elif c=="venkateswarlu":
      print("sivamani,chinnu")
    else:
      print("not her children")
  elif b=="jayamma":
    print("sridevi,parvathi,prasad")
    if c=="sridevi":
      print("teja,mohith")
    elif c=="parvathi":
      print("lucky,honey")
    elif c=="prasad":
      print("tony,lochu")
  else:
    print("not her children")
else:
  print("not her children")

first generation name:venkayamma
second generation name:jayamma
third generation name:sridevi
daughters- peddammai,chittemma,ramadevi,koti,dhanam,jayamma
sridevi,parvathi,prasad
teja,mohith

In [ ]:
l=[1,2,3,4,5]

In [ ]:
for i in l:
  print(i)

1
2
3
4
5

In [ ]:
for i in l:
  print(3)

3
3
3
3
3

In [ ]:
s="raji"
for i in s:
  print(s)

raji
raji
raji
raji

In [ ]:
for i in s:
  print(i)

r
a
j
i

In [ ]:
for i in reversed(s):
  print(i)

i
j
a
r

In [ ]:
t=(1,2,3,3,3,4,5,6)

In [ ]:
for i in t:
  print(i)

1
2
3
3
3
4
5
6

In [ ]:
for i in t:
  print(t)

(1, 2, 3, 3, 3, 4, 5, 6)
(1, 2, 3, 3, 3, 4, 5, 6)
(1, 2, 3, 3, 3, 4, 5, 6)
(1, 2, 3, 3, 3, 4, 5, 6)
(1, 2, 3, 3, 3, 4, 5, 6)
(1, 2, 3, 3, 3, 4, 5, 6)
(1, 2, 3, 3, 3, 4, 5, 6)
(1, 2, 3, 3, 3, 4, 5, 6)

In [ ]:
l=[2,4,"raji",6.3,3.5j,True,5]
for i in l:
  print(type(i))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'int'>

In [ ]:
l=[2,4,"raji",6.3,3.5j,True,5]
for i in l:
  print(type(i),i)

<class 'int'> 2
<class 'int'> 4
<class 'str'> raji
<class 'float'> 6.3
<class 'complex'> 3.5j
<class 'bool'> True
<class 'int'> 5

In [ ]:
l=[2,4,"raji",6.3,3.5j,True,5]
for i in l:
  print("type(i):",type(i))

type(i): <class 'int'>
type(i): <class 'int'>
type(i): <class 'str'>
type(i): <class 'float'>
type(i): <class 'complex'>
type(i): <class 'bool'>
type(i): <class 'int'>

In [ ]:
a=str(input("enter name:"))
print(a)
b=int(input("physics marks"))
print(b)
c=int(input("chemistry marks:"))
print(c)
d=int(input("maths marks:"))
print(d)

enter name:smruthi
smruthi
physics marks56
56
chemistry marks:36
36
maths marks:56
56

In [ ]:
a=str(input("enter name:"))
b=int(input("physics marks"))
c=int(input("chemistry marks:"))
d=int(input("maths marks:"))

total=b+c+d
print("total:", total)
avg=total/3

print(a, "average is", avg)

enter name:siri
physics marks40
chemistry marks:20
maths marks:50
total: 110
siri average is 36.666666666666664

In [ ]:
l=[4,5,6,7]
s=[]
for i in l:
  print(i+2)
  s.append(i+2)

6
7
8
9

In [ ]:
s

[6, 7, 8, 9]

In [ ]:
l=[7,8,9,10]
d=[]
for i in l:
  print(i+3)
  d.append(i+3)
print(d)

10
11
12
13
[10, 11, 12, 13]

In [ ]:
d

[10, 11, 12, 13]

In [ ]:
l=[2,45,85,96,"pavan", 6+3j, True, [4,5,2]]
for i in l:
  if type(i)==int:
      print(i)

2
45
85
96

In [ ]:
l

[2, 45, 85, 96, 'pavan', (6+3j), True, [4, 5, 2]]

In [ ]:
for i in l:
    if type(i)==str:
        print(i)

pavan

In [ ]:
l

[2, 45, 85, 96, 'pavan', (6+3j), True, [4, 5, 2]]

In [ ]:
for i in l:
  print(i)

2
45
85
96
pavan
(6+3j)
True
[4, 5, 2]

In [ ]:
for i in l:
  print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'complex'>
<class 'bool'>
<class 'list'>

In [ ]:
l

[2, 45, 85, 96, 'pavan', (6+3j), True, [4, 5, 2]]

In [ ]:
len(l)

8

In [ ]:
range(len(l))

range(0, 8)

In [ ]:
range(0,8)

range(0, 8)

In [ ]:
range(8)

range(0, 8)

In [ ]:
for i in l:
  print(i)

2
45
85
96
pavan
(6+3j)
True
[4, 5, 2]

In [ ]:
for i in range(len(l)):
  print("index",i,"for an element", l[i])

index 0 for an element 2
index 1 for an element 45
index 2 for an element 85
index 3 for an element 96
index 4 for an element pavan
index 5 for an element (6+3j)
index 6 for an element True
index 7 for an element [4, 5, 2]

In [ ]:
l

[2, 45, 85, 96, 'pavan', (6+3j), True, [4, 5, 2]]

In [ ]:
for i in enumerate(i):
  print(i,j)

TypeError: ignored

In [ ]:
l=[2,45,68,96,"raji",6.2,5+6j,[4,2,3]]
for i in l:
  if type(i)==str:
    a=[]
    for j in i:
      a.append(j)
      print(j)

r
a
j
i

In [ ]:
a

['r', 'a', 'j', 'i']

In [40]:
l=[2,4,5,6]
for i in l:
  if type(i)==int:
    print(i)

2
4
5
6

In [41]:
for i in reversed(l):
  print(i)

6
5
4
2

In [42]:
l=[4,5,6,2.3,3.2j,True,[4,8,6,9],"raji"]

In [43]:
for i in l:
  if type(i)==list:
    print(i)

[4, 8, 6, 9]

In [44]:
for i in l:
  if type(i)==bool:
    print(i)

True

In [45]:
for i in l:
  if type(i)==complex:
    print(i)

3.2j

In [46]:
for i in l:
  if type(i)==float:
    print(i, type(i))

2.3 <class 'float'>

In [47]:
l

[4, 5, 6, 2.3, 3.2j, True, [4, 8, 6, 9], 'raji']

In [49]:
for i in l:
  if type(i)==str:
    print(i)
  elif type(i)==bool:
    print(i)

True
raji

In [50]:
l

[4, 5, 6, 2.3, 3.2j, True, [4, 8, 6, 9], 'raji']

In [51]:
for i in range(len(l)):
  print("index",i, "for an element", l[i])

index 0 for an element 4
index 1 for an element 5
index 2 for an element 6
index 3 for an element 2.3
index 4 for an element 3.2j
index 5 for an element True
index 6 for an element [4, 8, 6, 9]
index 7 for an element raji

In [52]:
for i in l:
  if type(i)==str:
    a=[]
    for j in i:
      a.append(j)
    print(a)

['r', 'a', 'j', 'i']

In [53]:
for i in l:
  if i==int:
    a.append(i**2)
    print(a)

In [54]:
a

['r', 'a', 'j', 'i']

In [62]:
a=[4,5,6,7]
b=[]
for i in a:
  print(i)

4
5
6
7

In [63]:
for i in a:
  print(i**2)

16
25
36
49

In [71]:
b=[]
for i in a:
  print(i**2)
  b.append(i**2)

16
25
36
49

In [72]:
b

[16, 25, 36, 49]

In [73]:
a

[4, 5, 6, 7]

In [76]:
for i in range(len(a)):
  print(i, a[i])

0 4
1 5
2 6
3 7

In [77]:
for i in enumerate(a):
  print(i)

(0, 4)
(1, 5)
(2, 6)
(3, 7)

In [78]:
for i in l:
  if type(i)==str:
    l1=[]
    for j in i:
      l1.append(j)
    print(l1)

['r', 'a', 'j', 'i']

In [79]:
b=[]
for i in a:
  if type(i)==int:
    b.append(i**2)